<div class="container">
  <!-- Logo -->
  <div class="header__inner">
    <div class="logo">
      <img
        src="../assets/images/logos/favicon.png"
        alt="Pathway Logo"
        class="me-2"
      />
      <span>Pathway</span>
    </div>

    <!-- Menu -->
    <nav class="nav">
      <ul class="nav-list">
        <li><a href="#!">Destinations</a></li>
        <li><a href="#!">About</a></li>
        <li><a href="#!">Blog</a></li>
        <li><a href="#!">Page</a></li>
      </ul>
    </nav>

    <!-- Auth buttons -->
    <div class="auth">
      <a href="#!" class="login">Log In</a>
      <a href="#!" class="btn btn__signup">Sign Up</a>
    </div>
  </div>
</div>
