<div class="container">
  <!-- Logo -->
  <div class="header__inner">
    <button class="header__more js-toggle d-none d-lg-block " toggle-target="#navbar">
      <img src="../assets/icon/more.svg" alt="" class="header__more-icon" />
    </button>
    <a href="../index.html" class="logo">
      <img
        src="../assets/images/logos/favicon.png"
        alt="Pathway Logo"
        class="me-2"
      />
      <a href="../index.html">Pathway</a>
    </a>

    <!-- Menu -->
    <nav class="nav hide" id="navbar">
      <button class="nav__close-btn js-toggle" toggle-target="#navbar">
        <img src="../assets/icon/arrow-left.svg" alt="" />
      </button>
      <ul class="nav-list">
        <li><a href="../page/destination.html">Destinations</a></li>
        <li><a href="../page/about.html">About</a></li>
        <li><a href="../page/blog.html">Blog</a></li>
        <li><a href="../page/contact.html">Page</a></li>
        <div class="nav-seperator show-on-mobile"></div>
        <li class="show-on-mobile"><a href="../page/sign-in.html" >Sign In</a></li>
        <li class="show-on-mobile"><a href="../page/sign-up.html" >Sign Up</a></li>
      </ul>
    </nav>
    <div class="nav__overlay js-toggle" toggle-target="#navbar"></div>

    <!-- Auth buttons -->
    <div class="auth d-sm-none d-lg-flex">
      <a href="../page/sign-in.html" class="login">Sign In</a>
      <a href="../page/sign-up.html" class="btn btn__signup">Sign Up</a>
    </div>
  </div>
</div>

