.footer {
    background: #fffbea; // nền vàng nhạt
    padding: 50px 0 20px;

    h5 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 15px;
        color: #000;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 16px;

            a {
                text-decoration: none;
                color: #333;
                font-size: 14px;

                &:hover {
                    color: #ff5722;
                }
            }
        }
    }

    .newsletter {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 34px;
        input {
            width: 285px;
            height: 60px;
            flex: 1;
            padding: 16px;
            border: 1px solid rgba(78,83,88,0.1);
            border-radius: 30px;
            outline: none;
            font-size: 16px;
            line-height: 1.75;
            color: #4E5358;
            background: transparent;
        }

        button {
            width: 157px;
            height: 60px;
            background: #ff5722;
            color: #fff;
            padding:15px 35px;
            border-radius:60px;
            cursor: pointer;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.67;

            &:hover {
                background: #e64a19;
            }
        }
    }

    .social {
        margin-bottom: 30px;
        h6 {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 8px;
        }

        .icons {
            margin-top: 24px;
            display: flex;
            gap: 8px; 

            a {
                display: flex; 
                justify-content: center;
                align-items: center;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                background: #000;
                color: #fff;
                font-size: 16px;
                text-decoration: none;
                transition: 0.3s ease;

                &:hover {
                    background: #ff5722;
                }
            }
        }
    }

    .region {
        label {
            font-size: 1.4rem;
            font-weight: 600;
            margin-bottom: 8px;
            display: block;
        }

        select {
            font-size: 1.8rem;
            border-radius: 6px;
            padding: 6px 10px;
            background:transparent;
            width: 215px;
            border-bottom: 1px solid rgba(78,83,88,0.1);
        }
    }

    hr {
        margin: 30px 0 15px;
        border-color: rgba(78,83,88,0.1);
    }

    .copy {
        text-align: center;
        font-size: 1.6rem;
        color: #4E5358;
    }
}