.blog-card{
    --heading-color:#191B1D;
    --desc-color:#4e5358;
    width: 100%;
    height: auto;
    background-color: (255, 255, 255, 1);
    &__img{
        width: 100%;
        height: 370px;
        object-fit: cover;
        border-radius: 12px;
    }
    &__heading{
        margin-top: 20px;
        color: var(--font-color);
        font-family: Syne;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.27; /* 127.273% */
        transition: 0.6s;
        
        &:hover{
            color: #FF5B26;
        }
    }
    &__desc{
        color: var(--desc-color);
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.75; /* 175% */
        margin-top: 12px;
        display: inline-block;
        transition: 0.6s;
        &:hover{
            color: #FF5B26;
        }
    }
    &__more{
        color: var(--heading-color);
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.75; /* 175% */
        transition: 0.5s;
        margin-top: 12px;
        display: block;
        transition: 0.6s;

        &:hover{
            color: #FF5B26;
        }
    }
    
}