.seperator{
    width: 100%;
    height: 1px;
    background-color: rgba(25, 27, 29, 0.1);
    margin: 55px 0;
}
.nav-seperator{
    width: 100%;
    height: 1px;
    background-color: rgba(25, 27, 29, 0.1);
}