*,::after,::before{
    box-sizing: border-box;
}
:root{
    --font-color:#191B1D;
    --desc-color:#4E5358;
    --main-color:#FF5B26;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: "Manrope", sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    border: none;
    outline: none;
    background:transparent;
}
button,input,textarea,select{
    font-family: inherit;
    color: inherit;
    border: none;
    outline: none;
}
h1,h2,h3,h4,h5,h6{
   font-family: "Syne", sans-serif;
}

.section-heading{
    color: #191b1d;

    font-family: Syne;
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.section-desc{
    color: #4E5358;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}
